@import 'variables';

.button {
    background-color: $color4;
    border: none;
    border-radius: 6px;
    color: $color6;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    min-height: 44px;
    min-width: 130px;
    max-width: 130px;

    &:focus {
        outline: none;
    }

    &--primary {
        background-color: $color6;
        color: $color4;
    }
}

.event-button {
    align-self: center;
    background-image: url('/calendar-icon.png');
    background-size: cover;
    height: 100px;
    margin: 30px 0 20px 0;
    width: 100px;
}
