$color1: #f1ede2; /* cream */
$color2: #F87E1A; /* pastel red */
$color3: #327a6a; /* deep green */
$color4: #b1dfd5; /* pastel green */
$color5: #d4f0fc; /* pastel blue */
$color6: #5F9EA0; /* cadet blue */
$color7: #F08080; /* light coral */
$color8: #2BAADF; /* blue */
$color9: #ce4844; /* red */

.input {
    border: 1px solid #ccc;
    font-size: 24px;
    padding: 10px;
}

.input--error {
    padding-left: 7px;
    border-left: solid 4px $color9;
}

.textarea {
    resize: none;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin: 10px;

    &__error {
        color: $color9;
        margin-top: 5px;
    }

    &__label {
        color: #999;
        font-weight: bold;
        padding-bottom: 5px;
    }
}

.radio {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 24px;
    margin: 5px 0;

    > input {
        margin-right: 10px;
    }
}
