$color1: #f1ede2; /* cream */
$color2: #F87E1A; /* pastel red */
$color3: #327a6a; /* deep green */
$color4: #b1dfd5; /* pastel green */
$color5: #d4f0fc; /* pastel blue */
$color6: #5F9EA0; /* cadet blue */
$color7: #F08080; /* light coral */
$color8: #2BAADF; /* blue */

.input {
    border: 1px solid #ccc;
    font-size: 24px;
    padding: 10px;
}

.input--error {
    padding-left: 7px;
    border-left: solid 4px red;
}

.textarea {
    resize: none;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin: 10px;
    /* min-width: 320px; */

    &__label {
        font-weight: bold;
        padding-bottom: 5px;
    }
}

.radio {
    align-items: center;
    display: flex;
    font-size: 24px;
}
