.page {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    max-width: 100%;
    min-width: 100%;
}

.page--scroll {
    overflow: auto;
}

.excerpt {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 40px;
    width: 600px;

    &__title {
        align-self: center;
        color: #999;
    }
}
