.page {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    max-width: 100%;
    min-width: 100%;
}

.page--scroll {
    overflow: auto;
}
