@import 'variables';

.rk-modal-layover {
    background-color: #000;
    height: 100%;
    left: 0;
    position: absolute;
    opacity: 0.3;
    top: 0;
    width: 100%;
}

.rk-modal {
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
    font-size: 14px;
    position: absolute;

    /** undoing bootstrap, zk **/
    line-height: normal;

    &__container {
        display: flex;
        flex-direction: column;
    }
}

.rk-modal-header {
    align-items: center;
    border-bottom: 1px solid #ccc;
    display: flex;
    font-size: 18px;
    padding: 20px 15px;

    &__close {
        color: #999;
        cursor: pointer;
        flex-grow: 0;

        &:hover {
            color: #333;
        }
    }

    &__title {
        display: block;
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.rk-modal-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
}

.rk-modal-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px;

    &__container {
        flex-grow: 1;
        overflow: auto;
    }
}

.rk-modal-footer {
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;
    padding: 15px;
}

.rk-modal-enter {
    &.rk-modal-enter-active {
        .rk-modal {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            transition: opacity 300ms, transform 300ms;
        }

        .rk-modal-layover {
            opacity: 0.3;
            transition: opacity 300ms;
        }
    }

    & .rk-modal {
        opacity: 0;
        transform: translate3d(0, 50%, 0);
    }

    & .rk-modal-layover {
        opacity: 0;
    }
}

.rk-modal-leave {
    & .rk-modal {
        opacity: 1;
        transform: translate3d(0, 0, 0);;
    }

    & .rk-modal-layover {
        opacity: 0.3;
    }
}

.rk-modal-leave.rk-modal-leave-active {
    & .rk-modal {
        opacity: 0;
        transform: translate3d(0, 50%, 0);
        transition: opacity 300ms, transform 300ms;
    }

    & .rk-modal-layover {
        opacity: 0;
        transition: opacity 300ms;
    }
}

.rk-popup {
    position: absolute;
    z-index: 10;
}

.rk-popup-menu {
    background-color: #aaa;
    border: 1px solid #666;
    display: flex;
    flex-direction: column;
    padding: 3px 0;
}

.rk-popup-menu-item {
    cursor: pointer;
    padding: 5px 20px;

    &:hover {
        background-color: rgba(1, 1, 1, 0.1);
    }
}

.rk-popup-enter {
    opacity: 0.01;

    &.rk-popup-enter-active {
        opacity: 1;
        transition: opacity 100ms ease-in;
    }
}

.rk-popup-leave {
    opacity: 1;

    &.rk-popup-leave-active {
        opacity: 0.01;
        transition: opacity 100ms ease-in;
    }
}
