.comments {
    &__container {
        display: flex;
        flex-direction: column;
        width: 500px;

        & .input {
            margin-bottom: 10px;
        }

        & .textarea {
            margin-bottom: 10px;
        }

        & .button {
            align-self: center;
        }
    }
}
