$menu-background-color: #b1dfd5;
$menu-active-color: #5f9ea0;
$menu-hover-color: #f08080;
$menu-color: #f1ede2;

.menu-container {
    align-items: center;
    background-color: $menu-background-color;
    display: flex;
    height: 120px;
    justify-content: center;
    width: 100%;
}

.menu {
    color: $menu-color;
    display: flex;
    font-size: 28px;
    justify-content: center;
    margin: 0;
    padding: 0;

    &__item {
        display: flex;
        flex-direction: column;
        list-style-type: none;

        &__icon {
            align-items: center;
            border-radius: 41px;
            display: flex;
            flex-direction: column;
            height: 41px;
            justify-content: center;
            width: 41px;

            &--active {
                background-color: $menu-active-color;
            }

            &--hover {
                background-color: $menu-hover-color;
                cursor: pointer;
            }
        }

        &__label {
            font-size: 20px;
            pointer-events: none;
            position: absolute;
            white-space: nowrap;
        }
    }
}

.divider {
    margin: 0 7px;
}
