@import 'variables';

.button {
    background-color: $color4;
    border: none;
    border-radius: 6px;
    color: $color6;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;

    &:focus {
        outline: none;
    }
}
