@import 'variables';

.form {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
    color: $color4;
    font-size: 16px;
    padding: 20px;
    text-align: center;
    flex-grow: 1;
}

.form-content {
    background-color: $color1;
}

.form-footer {
    background-color: $color6;
}

.form-text {
    font-family: $font-family-regular;
    font-size: 18px;
    padding: 10px 10px 0 10px;
}

.form-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;

    &--last {
        margin-bottom: 0;
    }
}

.form-button-title {
    margin-bottom: 10px;
}

.form-buttons {
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
}

.form-button {
    margin-right: 10px;
}

.form-input {
    display: flex;
    margin: 2px 0;
    width: 100%;
}

.input {
    border: none;
    flex: 1;
    font-size: 16px;
    padding: 5px;
    margin: 1px 0;
}

.input--required {
    border-left: solid 4px red;
}

.input-city {
    flex: 0;
    margin-right: 4px;
    max-width: 200px;
    min-width: 200px;
}

.input-state {
    flex: 0;
    max-width: 47px;
    min-width: 47px;
}

.input-zip-code {
    flex: 0;
    max-width: 75px;
    min-width: 75px;
}

.textarea {
    resize: none;
}
