@import 'variables';

.form {
    color: $color4;
    font-size: 16px;
    padding: 20px;
    text-align: center;
    flex-grow: 1;
}

.form-content {
    background-color: $color1;
}

.form-footer {
    background-color: $color6;
}

.form-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;

    &--last {
        margin-bottom: 0;
    }
}

.form-button-title {
    margin-bottom: 10px;
}

.form-buttons {
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    justify-content: center;
}

.form-button {
    margin-right: 10px;
}

.form-input {
    display: flex;
    margin: 2px 0;
    width: 100%;
}

.form-title {
    color: $color2;
    font-family: $font-family-regular;
    font-size: 22px;
    padding-bottom: 10px;
}

.form-text {
    color: #999;
    font-family: $font-family-regular;
    font-size: 16px;
    padding: 10px;
}

.save-the-event {
    color: $color2;
    font-family: $font-family-title;
    font-size: 24px;
    text-align: center;
    /* text-shadow: 2px 2px #ccc; */
}

.input {
    border: none;
    flex: 1;
    font-size: 16px;
    padding: 5px;
    margin: 1px 0;
}

.input--error {
    border-left: solid 4px red;
}

.textarea {
    resize: none;
}

.highlighted-text {
    color: red;
    font-family: kavoon;
}

.reserve-link {
    font-family: kavoon;
}
