.admin {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-width: 100%;

    &__content {
        display: flex;
        flex-grow: 1;
    }

    &__links {
        border-bottom: 1px solid #ccc;
        display: flex;
        flex-shrink: 0;
        padding: 20px;

        &__link {
            margin-right: 20px;
        }
    }
}

.login {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

    &__username,
    &__password {
        margin-bottom: 5px;
    }
}

.list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    padding: 20px;

    &__button {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
    }

    &__header,
    &__footer {
        border-bottom: 1px dashed #ccc;
        display: flex;
        flex-shrink: 0;
        font-weight: bold;
        padding-top: 20px;
        text-transform: uppercase;
    }

    &__body {
        margin: 0;
        overflow: auto;
        padding: 0;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        padding: 5px 0;

        &:hover {
            background-color: #eee;
        }
    }

    &__footer {
        border-top: 1px dashed #ccc;
        border-bottom-width: 0;
    }
}

.guest {
    &__email {
        min-width: 400px;
        max-width: 400px;
        padding: 0 20px;
    }

    &__attend {
        display: flex;
        justify-content: center;
        min-width: 80px;
        max-width: 80px;
        padding: 0 20px;
    }
}

.comment {
    &__name {
        min-width: 120px;
        max-width: 120px;
        padding: 0 20px;
    }

    &__comments {
        min-width: 360px;
        max-width: 360px;
        padding: 0 20px;
    }
}

.rsvp {
    &__item {
        cursor: pointer;
        display: flex;
        flex: 1 1 100%;
    }

    &__name {
        min-width: 200px;
        max-width: 200px;
    }

    &__attend {
        display: flex;
        justify-content: center;
        min-width: 80px;
        max-width: 80px;
    }

    &__meal {
        display: flex;
        justify-content: center;
        min-width: 120px;
        max-width: 120px;
    }

    &__guests {
        display: flex;
        justify-content: flex-end;
        min-width: 80px;
        max-width: 80px;

        &__detail {
            flex: 1 1 100%;
            padding: 5px 10px
        }
    }
}
