@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

$font-family-regular: "Open Sans", Helvetica, sans-sarif, Arial;
$normal-text-color: #333;

body {
    background-color: #fff;
    bottom: 0;
    color: $normal-text-color;
    display: flex;
    flex-direction: column;
    font-family: $font-family-regular;
    font-size: 14px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main-container {
    display: flex;
    flex-grow: 1;

    & > span {
        display: flex;
        flex-grow: 1;
        max-width: 100%;
        min-width: 100%;
    }
}

.fa {
    display: flex !important;
    font-size: 22px !important;
}

@import 'admin';
@import 'components/button';
@import 'components/input';
@import 'components/page';
@import 'components/popup';
@import 'desktop/animation';
@import 'desktop/comments';
@import 'desktop/home';
@import 'desktop/menu';
@import 'desktop/photos';
@import 'desktop/registry';
@import 'desktop/rsvp';
